body{
    font-family: Times New Roman;
    text-align:center;
    background:#111827;
    color:white;
    padding:50px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
